<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->

        <th:block th:each = "item : ${jobs}">

            <table class="job-listing">
            <tr >
                <th  th:text = " ${'ID'}"></th>
                <td  th:text = " ${item.getId()}"></td>
            </tr>
            <tr >
                <th  th:text = " ${'Name'}"></th>
                <td  th:text = " ${item.getName()}"></td>

            </tr>
            <tr >
                <th  th:text = " ${'Employer'}"></th>
                <td  th:text = " ${item.getEmployer()}"></td>



            </tr>
                <tr >
                    <th  th:text = " ${'Location'}"></th>
                    <td  th:text = " ${item.getLocation()}"></td>
                </tr>
                <tr >
                    <th  th:text = " ${'Position Type'}"></th>
                    <td  th:text = " ${item.getPositionType()}"></td>
                </tr>
                <tr >
                    <th  th:text = " ${'Skill'}"></th>
                    <td  th:text = " ${item.getCoreCompetency()}"></td>
                </tr>
            </table>
        </th:block>

</div>


</body>
</html>